@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(241, 245, 241);
}

.w-62px {
  width: 62px;
}

.h-60px {
  height: 60px;
}

.w-460px {
  width: 460px;
}

.h-260px {
  height: 260px;
}



@media (max-width: 400px) {
  .text-xxs {
    font-size: 11px;
  }
  
  .c-s-w {
    width: 80%;
  }
}

@media (min-width: 400px) and (max-width: 800px) {
  .c-w {
    width: 500px;
  }
  .c-s-w {
    width: 65%;
  }
}


@media (min-width: 800px) and (max-width: 1000px) {
  .c-w {
    width: 40%;
  }
}


@media (min-width: 1000px) and (max-width: 1200px) {
  .c-w {
    width: 45%;
  }
}


@media (min-width: 1200px) {
  .c-w {
    width: 30%;
  }
} 

